

@media only screen and (max-width: 1000px){
body.page-id-19096 .q_boxes_inner{padding-left: 25px !important; padding-right: 25px !important; padding-top: 80px !important;}
}

@media only screen and (max-width: 600px){.carousel-inner h3{display: none;}}